@import "tailwindcss";

@theme {
	--color-gray-950: #18181b;
	--color-gray-900: #2c2c3b;
	--color-gray-850: #313140;
	--color-gray-800: #373745;
	--color-gray-700: #41414e;
	--color-gray-600: #4b4b58;
	--color-gray-500: #545460;
	--color-gray-400: #6b6b75;
	--color-gray-300: #808089;
	--color-gray-200: #96969d;
	--color-white: #ffffff;

	--color-primary-500: #3535ff;
	--color-primary-400: #9a9aff;
	--color-primary-300: #d7d7ff;

	--font-family-default: "Space Mono", monospace;
}

.bg-primary-fancy {
	@apply bg-primary-500 relative z-0;
}
.bg-primary-fancy::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image: url(/bg-texture.png);
	background-size: 3.5rem;
	opacity: 0.1;
	border-radius: inherit;
	z-index: -1;
}

body {
	@apply bg-gray-950;
	font-family: var(--font-family-default);
}
